<!DOCTYPE html>
<html>
<head>
<title>Главное меню</title>
</head>
<body bgcolor=silver text=black>
<h2>Главное меню</h2>
<a href="/menu?point=1">Создать отчет о перевозке грузов по форме: Номер ТТН, фамилия сотрудника, дата перевозки, общий вес перевезенных грузов. </a><br><br><br><br>
<a href="/menu?point=2">Покажите фамилии всех сотрудников, которые оформляли ТТН клиенту с номером договора ХХХ в марте 2017 года. </a> <br><br><br><br>
<a href="/menu?point=3">Покажите все сведения о клиенте, перевозившем самый большой по весу груз в марте 2017 года.</a><br><br><br><br>
<a href="/menu?point=4">Покажите фамилии сотрудников, ни разу не оформлявших ТТН. </a> <br><br><br><br>
<a href="/menu?point=5">Покажите фамилии сотрудников, не оформлявших ТТН в марте 2017 года. </a><br><br><br><br>
<a href="/menu?point=6">Найдите средний вес грузов, перевезенных за одну поездку, в каждом месяце 2017 года. </a> <br><br><br><br>
<a href="/menu?point=7">Запустить создание отчетов </a> <br><br><br><br>
<a href="/menu?point=exit"> Выйти из системы </a>
</body>
</html>