<html>
<head>
	<title>Database</title>
</head>
<body bgcolor=lightcyan text=navy>
		<div>
			<form method='POST' action=''>
	        <label for=month><p style="margin-left: 25px;">Месяц</label>
	        <input type=text id=month name=month>
	        <label for=year><p style="margin-left: 50px;">Год</label>
	        <input type=text id=year name=year>
	        <br>
	        <input style="margin-left: 25px; margin-top: 12px; font-size: 15px; font-family: 'Oswald', cursive;" value='Отправить' name='send' type='submit'>
      		</form>
      	</div>
</body>
</html>